<ion-tabs>
  <ion-tab [root]="Page41Root" tabTitle="4.1" tabIcon="clock"></ion-tab>
  <ion-tab [root]="Page42Root" tabTitle="4.2" tabIcon="clock"></ion-tab>
  <ion-tab [root]="Page43Root" tabTitle="4.3" tabIcon="clock"></ion-tab>
  <ion-tab [root]="Page44Root" tabTitle="4.4" tabIcon="clock"></ion-tab>
</ion-tabs>
