<!--
  Generated template for the Page4Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Page41</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>Page 41</h1>
  <div>
    <p>SetRoot to Page 5 and PopToRoot</p>
    <button (click)="SetRootAndPopToRoot()">SetRootAndPopToRoot</button>
  </div>
</ion-content>
