<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Page 1</h1>
  <div>
    <p>Push to page 2</p>
    <button primary (click)="Push()">Push</button>
  </div>
</ion-content>
