<!--
  Generated template for the Page5Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Page5</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>Page 5</h1>
  <div>
    <p>Push to Page 3</p>
    <button (click)="Push()">Push</button>
  </div>
</ion-content>
