<!--
  Generated template for the Page4Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Page44</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>Page 44</h1>
</ion-content>
