<!--
  Generated template for the Page3Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Page3</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>Page 3</h1>
  <div>
    <p>Pop To Root</p>
    <button (click)="PopToRoot()">PopToRoot</button>
  </div>
  <div>
    <p>Pop</p>
    <button (click)="Pop()">Pop</button>
  </div>
  <div>
    <p>Push to page 4</p>
    <button (click)="Push()">Push</button>
  </div>
  <div>
    <p>SetRoot to HomePage and PopToRoot</p>
    <button (click)="SetRootAndPopToRoot()">SetRootAndPopToRoot</button>
  </div>
</ion-content>
