<!--
  Generated template for the Page2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Page2</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>Page 2</h1>
  <div>
    <p>Push to page 3</p>
    <button primary (click)="Push()">Push</button>
  </div>
</ion-content>
